%h2 Lists
%table.lists
  %tr
    %th.name Name
    %th.description Description
    %th.person_count People in list
  - @lists.each do |list|
    %tr
      %td= link_to list.name, list_path(list)
      %td= list.description
      %td= list.memberships.count
