.list {
  &.show, &.edit {
    .description {
      font-style: italic;
    }

    form .notes {
      @extend .uk-width-1-2;
      overflow: auto;
    }

    table.people {
      @extend .uk-width-4-5;
      table-layout: fixed;

      tr {
        transition: all 1s;
      }

      th.name {
        @extend .uk-width-1-5;
        text-align: left
      }

      th.email {
        @extend .uk-width-1-5;
        text-align: left
      }

      th.notes {
        @extend .uk-width-2-5;
        text-align: left
      }

      th.actions {
        @extend .uk-width-3-5;
        text-align: left
      }

      td.notes {
        @extend .uk-width-2-5;

        white-space: nowrap;
        overflow: hidden;

        text-overflow: ellipsis;
      }
    }
  }

  .scrollable {
    height: 237px;
    overflow-y: auto
  }

  .person-detail .uk-panel {
    transition: all 1s ease;
    left: 0;
    top: 0;
  }

  .person-detail.full-screen {
    .uk-panel {
      position: absolute;
      left: 0;
      right: 0;

      left: 0;
      top: 0;

      width: 100%;
      height: 100%;
      background-color: white;
    }
    .scrollable {
      height: auto;
    }
  }
}
